<h1>About Us</h1>
<p>We are known for our exceptional customer service, extensive range of clothing selection and customer service specialist who has a clear understanding of the brands and their latest trends. Some of our renowned customers include Puma, Topshop and Calvin Klein, as well as our flagship store in New York City that is well known for its high quality garments. Facing Manhattan from West 57th Street, we do not just sell apparel; we also have a dedicated team who carry out customer service in our outlet. </p>
